.cproject
.project
.deps
*.o
Makefile
Makefile.in
aclocal*
autom4te*
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
missing
rdfind
stamp-h1
*~

compile
test-driver
nettle32bit/
*.log
rdfind-*.tar.gz
.vs/slnx.sqlite
