Source: rdfind
Section: utils
Priority: extra
Maintainer: Paul Sundvall <rdfind@paulsundvall.net>
Build-Depends: debhelper (>= 5), autotools-dev, libnettle-dev
Standards-Version: 3.7.2

Package: rdfind
Architecture: any
Depends: ${shlibs:Depends}
Description: A tool to find duplicate files
 Rdfind is a tool to find duplicate files based on their content.
 Optionally, duplicate files can be replaced with hardlinks, symbolic links
 or deleted. Per default, a report file is generated and a report on the
 aumount of disk space that can be reduced is shown on standard output.
