name: clang 18

on:
  push:
    branches:
      - main
      - develop
  pull_request:


jobs:
  build:
    name: Compiles with clang 18
    runs-on: ubuntu-24.04

    steps:
    - name: checkout
      uses: actions/checkout@v4
    - name: install packages
      run: sudo apt install build-essential nettle-dev time clang-18
    - name: bootstrap
      run: ./bootstrap.sh
    - name: configure
      run: ./configure CXX=clang++-18
    - name: build
      run: make
    - name: check
      run: make check
    - name: store the logs as an artifact
      if: ${{ always() }}
      uses: actions/upload-artifact@v4
      with:
         path: '**/*.log'

